In [126]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
from itertools import combinations

In [9]:
data = pd.read_csv('C:\\Users\\Ekaterina\\My_project\\projects\\Skillfactory\\Module_01\\movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
284,tt1078940,70000000,171844840,Couples Retreat,Vince Vaughn|Malin Ã…kerman|Jason Bateman|Kris...,Peter Billingsley,It may be paradise... but it's no vacation.,"Four couples, all friends, descend on a tropic...",113,Comedy|Romance,Universal Pictures|Wild West Picture Show Prod...,9/19/2009,5.3,2009
1488,tt0421729,40000000,138259062,Big Momma's House 2,Martin Lawrence|Nia Long|Emily Procter|Zachary...,John Whitesell,The momma of all comedies is back!!!,FBI agent Malcolm Turner goes back undercover ...,99,Comedy|Crime,Twentieth Century Fox Film Corporation|Regency...,1/26/2006,5.6,2006
771,tt1625346,12000000,22939027,Young Adult,Charlize Theron|Patton Oswalt|Patrick Wilson|E...,Jason Reitman,Everyone gets old. Not everyone grows up.,A divorced writer from the Midwest returns to ...,94,Comedy|Drama|Romance,Paramount Pictures|Denver and Delilah Producti...,12/16/2011,5.2,2011
200,tt1126590,10000000,28883511,Big Eyes,Amy Adams|Christoph Waltz|Krysten Ritter|Danny...,Tim Burton,She created it. He sold it. And they bought it.,A drama centered on the awakening of the paint...,105,Drama,The Weinstein Company|Silverwood Films|Electri...,12/24/2014,6.8,2014
1694,tt0389790,150000000,287594577,Bee Movie,Jerry Seinfeld|RenÃ©e Zellweger|Matthew Broder...,Steve Hickner|Simon J. Smith,Born to bee wild.,"Barry B. Benson, a bee who has just graduated ...",91,Family|Animation|Adventure|Comedy,Pacific Data Images (PDI)|DreamWorks Animation...,10/28/2007,5.6,2007

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [10]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget # прибыль = сборы - бюджет
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [152]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
answer1 = data.original_title.loc[data.budget == data.budget.max()]
display(answer1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [151]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals'  # +

In [8]:
answer2 = data.original_title.loc[data.runtime == data.runtime.max()]
display(answer2)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [150]:
answers['3'] = '768    Winnie the Pooh'  # +

In [9]:
answer3 = data.original_title.loc[data.runtime == data.runtime.min()]
display(answer3)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [149]:
answers['4'] = '110'  # +

In [20]:
answer4 = round(data.runtime.mean())
display(answer4)

110

# 5. Каково медианное значение длительности фильмов?

In [148]:
answers['5'] = '107.0'  # +

In [18]:
answer5 = data.runtime.median()
display(answer5)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [147]:
answers['6'] = '239    Avatar'  # +

In [50]:
answer6 = data.original_title.loc[data.profit == data.profit.max()]
display(answer6)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [146]:
answers['7'] = '1245    The Lone Ranger'  # +

In [25]:
answer7 = data.original_title.loc[data.profit == data.profit.min()]
display(answer7)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [145]:
answers['8'] = '1478'  # +

In [27]:
answer8 = len(data.original_title.loc[data.revenue > data.budget])
display(answer8)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [144]:
answers['9'] = '599    The Dark Knight'  # +

In [47]:
top_rev = data.loc[data.release_year == 2008].revenue.max()
answer9 = data.original_title.loc[data.revenue == top_rev]
display(answer9)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [143]:
answers['10'] = '1245    The Lone Ranger'  # +

In [64]:
period_profit = data.loc[(data.release_year <= 2014) & (data.release_year >= 2012)].profit.min()
answer10 = data.original_title.loc[data.profit == period_profit]
display(answer10)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [142]:
answers['11'] = 'Drama'  # +

ВАРИАНТ 2

In [73]:
answer11 = data.genres.str.split('|').explode().value_counts(ascending=False)
display(answer11)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [141]:
answers['12'] = 'Drama'  # +

In [74]:
answer12 = data[data.profit > 0].genres.str.split('|').explode().value_counts(ascending=False)
display(answer12)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [140]:
answers['13'] = 'Peter Jackson'  # +

In [70]:
directors = set(data.director.str.split('|').sum())
display(pd.Series({x: data[data.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False)
        .head(5))

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [139]:
answers['14'] = 'Robert Rodriguez'  # +

In [78]:
answer14 = data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]
display(answer14)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [138]:
answers['15'] = 'Chris Hemsworth'  # +

In [83]:
data1 = data.query('release_year == 2012').copy()
data1['cast'] = data1.cast.str.split('|')
data1 = data1.explode('cast')
answer15 = data1.groupby(['cast'])[['revenue']].sum().sort_values(by='revenue', ascending=False)

display(answer15)

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [137]:
answers['16'] = 'Matt Damon'  # +

In [80]:
data1 = data[data.budget > data.budget.mean()]
answer16 = data1.cast.str.split('|').explode('cast').value_counts().idxmax()
display(answer16)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [136]:
answers['17'] = 'Action'  # +

In [90]:
answer17 = data[data.cast.str.contains('Nicolas Cage')]['genres'].str.split('|').explode('genres').value_counts(ascending=False)
display(answer17)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [82]:
answers['18'] = '925    K-19: The Widowmaker'  # +

In [106]:
min_prof = data[data.production_companies.str.contains('Paramount Pictures')].profit.min()
data.original_title[data.profit == min_prof]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [81]:
answers['19'] = '2015'  # +

In [109]:
data.groupby(['release_year'])[['revenue']].sum().sort_values(by='revenue', ascending=False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [80]:
answers['20'] = '2014'  # +

In [58]:
split_prodcom = data.assign(production_companies=data.production_companies.str.split('|').explode('production_companies'))
new_df = split_prodcom[(split_prodcom.production_companies.str.contains('Warner Bros|DC|HBO|New Line'))]
             
#display(new_df.production_companies.value_counts())
new_df.groupby(['release_year'])[['profit']].sum().sort_values(by='profit', ascending=False)

                  profit
release_year
2014          1291747430
2001          1070207290
2006          1064605779
2000          1063872513
2011          1009586209
2005           878037094
2007           871333157
2009           828040608
2008           555556216
2013           418342216
2010           413258725
2002           361036552
2004           197427567
2015           148018512
2003            60259536
2012            45310702

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [79]:
answers['21'] = 'September'  # +

In [76]:
df = data.copy()
df.release_date = pd.to_datetime(df.release_date)
df['release_month'] = df.release_date.dt.strftime('%B')
display(df['release_month'].value_counts(ascending=False))

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [78]:
answers['22'] = '450'  # +

In [77]:
df = data.copy()
df.release_date = pd.to_datetime(df.release_date)
df['release_month'] = df.release_date.dt.strftime('%B')
len(df[df.release_month.str.contains('June|July|August')])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [129]:
answers['23'] = 'Peter Jackson'  # +

In [85]:
df = data.copy()
df.release_date = pd.to_datetime(df.release_date)
df['release_month'] = df.release_date.dt.strftime('%B')
df[df.release_month.str.contains('December|January|February')].director.value_counts()

Peter Jackson                  7
Clint Eastwood                 6
Steven Soderbergh              6
Martin Scorsese                4
Shawn Levy                     4
                              ..
Mike McCoy|Scott Waugh         1
Dean Israelite                 1
Eric Bress|J. Mackye Gruber    1
Ivan Reitman                   1
Sam Raimi                      1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [130]:
answers['24'] = 'Four By Two Productions'  # +

In [117]:
df = data.copy()
df['len_title'] = df.original_title.str.len()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')

display(df.groupby(['production_companies'])['len_title'].max().sort_values(ascending=False))

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: len_title, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [131]:
answers['25'] = 'Midnight Picture Show'  # +

In [120]:
df = data.copy()
df['overview'] = df.overview.str.split()
df['len_overview'] = df.overview.str.len()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
display(df.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending=False))

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [132]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'  # +

In [122]:
display(data.loc[(data['vote_average'] > np.percentile(data['vote_average'], 99))].original_title)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [134]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'  # +

In [128]:
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

# Submission

In [153]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'21': 'September',
 '22': '450',
 '20': '2014',
 '19': '2015',
 '18': '925    K-19: The Widowmaker',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '17': 'Action',
 '16': 'Matt Damon',
 '15': 'Chris Hemsworth',
 '14': 'Robert Rodriguez',
 '13': 'Peter Jackson',
 '12': 'Drama',
 '11': 'Drama',
 '10': '1245    The Lone Ranger',
 '9': '599    The Dark Knight',
 '8': '1478',
 '7': '1245    The Lone Ranger',
 '6': '239    Avatar',
 '5': '107.0',
 '4': '110',
 '3': '768    Winnie the Pooh',
 '2': '1157    Gods and Generals',
 '1': '723    Pirates of the Caribbean: On Stranger Tides'}

In [154]:
# и убедиться что ничего не пропустил)
len(answers)

27